In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Corpus/corpus_katakasar.xlsx')

In [3]:
data

     kata kasar
0         3some
1         4some
2          damn
3          dyke
4          fuck
...         ...
997      ndasmu
998     ngentod
999       begok
1000        NaN
1001    klimaks

[1002 rows x 1 columns]

In [4]:
data.isna().sum()

kata kasar    37
dtype: int64

In [5]:
data.dropna(inplace=True)

In [9]:
data.reset_index(drop=True, inplace=True)

In [10]:
data

    kata kasar
0        3some
1        4some
2         damn
3         dyke
4         fuck
..         ...
960     congok
961     ndasmu
962    ngentod
963      begok
964    klimaks

[965 rows x 1 columns]

In [13]:
data.to_csv('Corpus/cleaned_corpus.csv', index=False)

In [14]:
data.to_excel('Corpus/cleaned_corpus.xlsx', index=False)